.categorie {
    background-color: gainsboro;
    width: 300px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;

}

.categorie img {
    width: 200px;
}

.categorie h5 {
    margin: 0;
}

.categorie p {
    margin: 0;
}

.stat-quiz-btn {
    background-color: rgb(118, 118, 252);
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
}

.stat-quiz-btn:hover {
    background-color: rgb(184, 184, 248);
    color: black;
}