.quizoption {
    margin: 10px;
    border: 1px solid khaki;
    background-color: rgb(166, 250, 222);
    padding: 10px;
}

.quizAns {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icon {
    border: 0;
    background-color: rgb(166, 250, 222);
}