.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-img img {
    width: 500px;
    margin-top: 0;

}

.header-text {
    padding: 50px;

}

.home-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 50px;
    justify-items: center;
}

@media only screen and (max-width: 700px) {
    .header {
        flex-direction: column;

        justify-content: center;
        width: 100%;
    }

    .home-categories {
        grid-template-columns: repeat(1, 1fr);
    }
}